<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
	<filter>
		<whitelist>
			<directory suffix=".php">./src</directory>
			<exclude>
				<file>./src/main.php</file>
			</exclude>
		</whitelist>
	</filter>
    <testsuites>
        <testsuite name="Sainsburys Scrape">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>